* {
  text-align: right;
}
body {
  background-color: #dfdfdf;
  direction: rtl;
}
main {
  width: 95%;
  background-color: #cccccc;
  margin: 30px auto;
  padding-bottom: 20px;
}
#title {
  text-align: center;
  padding-top: 20px;
}
#img-div {
  margin: 0 auto;
  background-color: white;
}
#img-caption {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  font-weight: 400;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
article {
  padding: 0 10px;
}
article h3 {
  margin-bottom: 5px;
}
article p {
  margin-top: 0;
}